* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-size: 16px;
} 

#banner {
    max-width: 100%;
    max-height: 6rem;
}

.logo {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #29456d;
    position: relative;
    top: 3rem;
    margin-bottom: 3rem;
    background: no-repeat top 60% right url("Assets/Stipula_fountain_pen.jpg");
}

#top-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 1;
}

.navbar-nav {
    position: absolute;
    left: 0;
    padding: 0 2rem;
    margin-top: .3rem;
    z-index: 1;
}

#navbarMenu ul {
    background-color: #343a40;
}

#navbarMenu a {
    color: white;
}

#navbarMenu li {
    padding: .25rem 0;
}

#navbarMenu a:hover {
    color: #fce8a1;
}

#cart {
    color: #fce8a1;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
}

#home {
    color: #fce8a1;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 50%;
}

#search-button {
    background-color: grey;
    color: white;
    border: none;
}

#shipping-row {
    background-color: rgb(200, 0, 0);
    cursor: pointer;
    color: white;
}

#history {
    background-color: grey;
    padding: 2rem 2rem 5rem 2rem;
    
}

#phone-number {
    color: #fce8a1;
    position: fixed;
    right: 15%;
}

#footer {
    align-items: center;
    justify-content: center;
}

.footer-icon {
    height: 2rem;
    padding: 0 2rem;
}

#news {
    color: white;
    padding: .25rem;
    border-radius: .25rem;
    background-color: black;
}

.modal-header h2 {
    color: red;
    font-size: 1.5rem;
}

#zagat-rated {
    width: 75%;
    height: 75%;
}

#customer-service {
    border-top: solid 1px grey;
    padding: .25rem 0;
    font-size: 1.25rem;
}

.body-text {
    padding: 3rem;
}

.body-text h4, .body-text h3 {
    color: #29456d;
}

.alert {
    border: solid 1px rgb(200, 0, 0);
    position: absolute;
    z-index: 1;
    left: 2rem;
    right: 2rem;
    color:  #29456d;
}

#close-alert {
    font-size: 2.5rem;
    padding: 0 .75rem;
    border: 2px solid rgb(200, 0, 0);
    color: rgb(200, 0, 0);
}


.card {
    height: 100%;
}

.card-body h5 {
    color: #29456d;
}

a {
    color: black;
}

#youtube {
    width: 2rem;
}

/* #row-test {
    border: solid 1px red;

}

#col-test {
    border: solid 1px green;
}
 */

.row {
    padding: 0;
    margin: 0;
}

#last-row {
    height: 100%;
    padding: 2rem;
    background-color: lightgray;
    border-bottom: solid 1px darkgray;
    border-top: solid 1px darkgray;
    color:  #29456d;
}

#maps {
    background: center url("Assets/antique-map-bw-1.jpg");
    padding: 1rem 1rem 2rem 2rem;   
}

.imgmap {
    border: solid 1px darkgray;
    box-shadow: 20px 20px 5px darkgray;
}

@media only screen and (max-width: 576px) {
    * {
        font-size: 12px;
}
